@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
  background: #374259;
  font-family: 'PT Sans', sans-serif;

}

h2{
  margin: 10px;
  padding: 0;
  color: #374259;
}

.wrapper{
  width: 400px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label{
  color: #374259;
  font-size: 14px;
}

button{
  margin-top: 10px;
  transition: .3s ease;
}

.btn{
  transition: 0.3s ease all;
  border-color:#374259;
}

.btn:hover{
  background-color: #374259;
}

.form-control{
  width: 300px;
}