<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CourseHub</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="icon" type="image/x-icon" href="img/545646161.png" />
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <header>
      <div class="left-side-menu">
        <div class="logo">
          <a href="#"><img src="img/545646161.png" /></a>
          <h1 class="logo-title">Онлайн учебник</h1>
        </div>
        <div class="menu">
          <ul class="menu-list">
            <li class="menu-item">
              <span><a href="aboutUs.html">Про нас</a></span>
            </li>
            <li class="menu-item">
              <span><a href="#">Контакты</a></span>
            </li>
            <li class="menu-item">
              <span><a href="#uroki">Уроки</a></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="members">
        <ul class="members-list">
          <li>
            <a href="C:\Users\Ucomp 31\Downloads\python_vtipo\public\login.html">Войти</a>
          </li>
          <li>
            <a href="#">Регистрация</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="intro">
      <div class="right-wrapper">
        <img src="img/cover.png" alt="" class="right-wrap-logo" />
      </div>
      <div class="wrappers">
        <div class="left-wrapper">
          <h1 class="left-wrapper-title">Откройте двери к знаниям с <span>CourseHub.</span></h1>
          <p class="left-wrapper-subtitle">
            Добро пожаловать в CourseHub – ваше центральное место для управления курсами и ресурсами
            университета AIU! Мы создали эту платформу специально для студентов, чтобы облегчить
            ваше обучение и улучшить ваш опыт обучения.
          </p>
        </div>
      </div>
    </div>

    <div class="workshop-list-carousel" id="uroki">
      <div class="workshop-list">
        <div class="workshop">
          <h1 class="workshop-name">
            1 Курс: <br />
            <span class="workshop-name-sub">Введение в Java</span>
          </h1>
          <img src="img/flutter.svg" alt="" class="workshop-img" />

          <div class="workshop-description-textlist">
            <div class="workshop-description-text">
              <i class="fa-solid fa-check"></i>
              <p class="description-text">Знакомство с Java</p>
            </div>
            <div class="workshop-description-text">
              <i class="fa-solid fa-check"></i>
              <p class="description-text">Краткая история Java</p>
            </div>
            <div class="workshop-description-text">
              <i class="fa-solid fa-check"></i>
              <p class="description-text">Почему стоит учить Java?</p>
            </div>
            <div class="workshop-description-text">
              <i class="fa-solid fa-check"></i>
              <p class="description-text">Применение Java</p>
            </div>
            <div class="workshop-description-text">
              <i class="fa-solid fa-check"></i>
              <p class="description-text">Веб-разработка, мобильная разработка</p>
            </div>
            <a href="lessons/lesson1.html"
              ><button class="workshop-subscribe-btn">Let's go!</button></a
            >
          </div>
        </div>

        <div class="workshop">
          <div class="workshop-most-popular">
            <h1 class="workshop-name">
              2 урок: <br /><span class="workshop-name-sub">Настройка среды разработки</span>
            </h1>
            <img src="img/figma.svg" alt="" class="workshop-img" />

            <div class="workshop-description-textlist">
              <div class="workshop-description-text">
                <i class="fa-solid fa-check"></i>
                <p class="description-text">
                  Руководство по настройке среды разработки для написания и выполнения Java-кода.
                </p>
              </div>
              <div class="workshop-description-text">
                <i class="fa-solid fa-check"></i>
                <p class="description-text">Установка Java Development Kit (JDK)</p>
              </div>
              <div class="workshop-description-text">
                <i class="fa-solid fa-check"></i>
                <p class="description-text">
                  Настройка интегрированной среды разработки (IDE) таких как Eclipse, IntelliJ IDEA
                  или NetBeans
                </p>
              </div>
              <div class="workshop-description-text">
                <i class="fa-solid fa-check"></i>
                <p class="description-text">Создание и настройка проекта Java в IDE</p>
              </div>
              <a href="lessons/lesson2.html"
                ><button class="workshop-subscribe-btn">Let's go!</button></a
              >
            </div>
          </div>
        </div>

        <div class="workshop">
          <h1 class="workshop-name">
            3 урок: <br />
            <span class="workshop-name-sub">Первая программа</span>
          </h1>
          <img src="img/python.svg" alt="" class="workshop-img" />

          <div class="workshop-description-textlist">
            <div class="workshop-description-text">
              <i class="fa-solid fa-check"></i>
              <p class="description-text">
                Знакомство с базовой структурой программы на Java и написание и выполнение первой
                программы на Java.
              </p>
            </div>
            <div class="workshop-description-text">
              <i class="fa-solid fa-check"></i>
              <p class="description-text">
                Анатомия программы на Java (например, классы, методы, операторы)
              </p>
            </div>
            <div class="workshop-description-text">
              <i class="fa-solid fa-check"></i>
              <p class="description-text">Написание простой программы "Привет, мир!"</p>
            </div>
            <div class="workshop-description-text">
              <i class="fa-solid fa-check"></i>
              <p class="description-text">Компиляция и запуск программы на Java</p>
            </div>
            <a href="lessons/lesson3.html"
              ><button class="workshop-subscribe-btn">Let's go!</button></a
            >
          </div>
        </div>

        <div class="workshop">
          <h1 class="workshop-name">
            4 урок: <br /><span class="workshop-name-sub">Переменные и типы данных</span>
          </h1>
          <img src="img/pm.svg" alt="" class="workshop-img" />

          <div class="workshop-description-textlist">
            <div class="workshop-description-text">
              <i class="fa-solid fa-check"></i>
              <p class="description-text">
                Обучение переменным, типам данных и их объявлению и использованию в Java.
              </p>
            </div>
            <div class="workshop-description-text">
              <i class="fa-solid fa-check"></i>
              <p class="description-text">
                Введение в переменные и типы данных (например, int, double, String)
              </p>
            </div>
            <div class="workshop-description-text">
              <i class="fa-solid fa-check"></i>
              <p class="description-text">Объявление и инициализация переменных</p>
            </div>
            <div class="workshop-description-text">
              <i class="fa-solid fa-check"></i>
              <p class="description-text">Конвенции именования переменных</p>
            </div>
            <div class="workshop-description-text">
              <i class="fa-solid fa-check"></i>
              <p class="description-text">Приведение типов данных</p>
            </div>
            <a href="lessons/lesson4.html"
              ><button class="workshop-subscribe-btn">Let's go!</button></a
            >
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-content">
        <p class="footer-left-gdsc">© 2024 CourseHub</p>
        <div class="footer-right">
          <p class="social-media">
            Наши
            <a href="#">контакты</a>
          </p>
          <div class="brands">
            <a href=""><i class="fa-brands fa-telegram"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
